<form asp-action ="Index">
    <label> Địa chỉ:</label>
    <input type="text" name="Address"/>
    <label> Nhập họ tên:</label>
    <input type="text" name="Fullname"/>
    <label>Tuổi</label>
    <input type="number" name=" Tuoi"/>
    <input type="submit" value=" Gửi dữ liệu">
</form>
<h2>@ViewBag.Message</h2>