<h1>@ViewBag.Message</h1>
<form asp-action ="Index">
    <label> Nhập ID SV:</label>
    <input type="text" name="StudentID">
    <label> Nhập họ tên:</label>
    <input type="text" name="Fullname">
    <input type="submit" value=" Gửi dữ liệu">
</form>