@{
    ViewData["Title"] = "Home Page";
}



<form asp-action ="Index">
    <label Nhập ID SV:></label>
    <input type="text" name="Fullname">
    <label Nhập họ tên:</label>
    <input type="text" name="Fullname">
    <input type="submit" value=" Gửi dữ liệu">
</form>
<h1>@ViewBag.Message</h1>
